.one h1{
    color:brown;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
}
.one h3{
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:darkcyan
}
.one img{
    display: block;
    margin: 0 auto;
}
.one{
    background-color: darkgray;
    border: 5px solid royalblue;
    margin: 20px;
}
.one p{
    color: #03417A;
    text-transform: capitalize;
    text-align: justify;
}